:root {
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: white;
    --main-color: #04fffb;
    --header-background: rgb(39, 35, 63);
}

@media(min-width: 921px) {
    #menu-icon {
        display: none;
    }
}

@media(max-width: 921px) {
    .opacity1 {
        opacity: 0.1;
    }

    .opacity2 {
        opacity: 1;
    }

    .header {
        padding: 0 1.8rem;
        height: 4rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        margin-top: 14rem;
        height: 259px;
        width: 12rem;
        background-color: var(--header-background);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-end-start-radius: 0.9rem;
        border: 2px solid var(--main-color);
        gap: 2rem;
        transition: all 0.4s cubic-bezier(.17, .84, .44, 1);
    }

    #menu-icon {
        font-size: 3rem;
        color: var(--main-color);
        position: relative;
        z-index: 999;
        top: 1px;
        right: -185px;
        margin-right: 2rem;
    }

    /* .res-menu {
        translate: -898px -1px;
      } */
    .res-menu {
        translate: 485px 53px;
    }

    .header .logo {
        font-size: 1.1rem;
    }

    .home .home-img img {
        height: 13rem;
        width: 13rem;
    }

    .home-content h1 {
        font-size: 3rem;
        color: white;
    }

    .home-content h3 {
        font-size: 1.8rem;
        color: white;
    }

    .home-content p {
        font-size: 1.4rem;
        color: white;
        font-weight: 400;
    }

    .social-icons i {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 1.5rem;
        margin-left: 3.5rem;
        text-align: center;
    }

    .about .about-content h2 {
        font-size: 3rem;
        color: white;
        font-weight: 600;
    }

    .about .about-content p {
        font-size: 1.2rem;
        color: white;
    }

    .about .about-img img {
        height: 90px;
        width: 90px;
    }

    .services .skills .skill-tech h3 {
        font-size: 2rem;
    }

    .contact h1 {
        font-size: 3rem;
        color: white;
    }

    .mb-3 .email {
        font-size: 1.4rem;
        font-weight: 600;
        color: white;
        margin-right: 15px;
    }

    .mb-3 .form-control {
        width: 22rem;
        height: 2.8rem;
    }

    .mb-3 .Phone {
        font-size: 1.4rem;
        font-weight: 600;
        color: white;
    }

    .description .text-area {
        width: 22rem;
    }

    .footer {
        gap: 1rem;
        font-size: 0.9rem;
    }

}

@media(max-width: 463px) {
    .header {
        padding: 0 1.5rem;
        width: 100%;
    }

    .header .logo {
        font-size: 0.9rem;
        width: 59%;
    }

    #menu-icon {
        font-size: 2.8rem;
        margin-right: 6rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        margin-top: 14rem;
        height: 259px;
        width: 15rem;
        gap: 2rem
    }

    .ocial-icons {
        margin-top: 3rem;
        font-size: 2rem;
        text-align: center;
        background-color: rgb(39, 35, 35);
        height: 4rem;
        line-height: 4rem;
        border-radius: 2rem;
        padding-right: 9px;
        width: 100%;
    }

    .social-icons i {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .about .about-content h2 {
        font-size: 2.6rem;
    }

    .text-animation {
        font-size: 27px;
    }

    .about .about-content p {
        font-size: 1.1rem;
    }

    .skills {
        width: 70%;
    }

    .contact h1 {
        font-size: 2.6rem;
    }

}

@media(max-height: 763px) {
    .contact {
        height: 89vh;
    }

    .footer {
        height: 18vh;
    }

}

@media(max-height: 670px) {
    .home {
        height: 119vh;
    }

    .footer {
        height: 21vh;
    }

    .services {
        height: 90vh;
    }

    .contact {
        height: 110vh;
    }
}

@media(max-height: 594px) {
    .home {
        height: 129vh;
    }
}

@media(max-height: 562px) {
    .home {
        height: 139vh;
    }

    .services {
        height: 97vh;
    }

    .contact {
        height: 120vh;
    }

    .footer {
        height: 25vh;
    }
}

@media(max-height: 534px) {
    .home {
        height: 160vh;
    }

    .services {
        height: 111vh;
    }

    .footer {
        height: 30vh;
    }
}

@media(max-height: 480px) {
    .services {
        height: 122vh;
    }

    .contact {
        height: 153vh;
    }
}

@media(max-height: 440px) {
    .home {
        height: 182vh;
    }

    .services {
        height: 133vh;
    }

    .footer {
        height: 32vh;
    }
}